root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.{json,yml,yaml,csproj,runsettings}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
# Namespaces are block-scoped in this project (see Program.cs)
csharp_style_namespace_declarations = block_scoped:suggestion
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

[*.cshtml]
indent_size = 4
